page-competencias {
    div.toolbar-background {
        background-color: color($colors, competencias2);
    }
    div.toolbar-title {
        color: white;
    }
    img{
        background-image: cover;
    }
    
}
