page-questao {
    div.toolbar-background {
        background-color: color($colors, competencias2);
    }
    div.toolbar-title {
        color: white;
    }
    .item-inner {
        padding-right: 0px !important;
    }
    textarea{
        font-size: 1.6rem;
    }
    .item-inner{
        border-bottom: none !important;
    }
    table{
        width: 100% !important;
    }
}