<!--
  Generated template for the ListaDePesquisasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>Responder Pesquisa</ion-title>
    </ion-navbar>

</ion-header>



<ion-content padding>
    <div *ngIf="Carregado">
        <h4 class="red-text">{{PesquisaPontual.Nome}} </h4>
        <div class="flex row-wrap legenda">
            <div (click)="mostrasInstrucoes()">
                <ion-icon name="ios-information-circle-outline"></ion-icon>
                <span>Legenda</span>
            </div>
        </div>

        <div class="big-container row-wrap flex-center">
            <div class="option-group flex row-wrap w-90 round-shadow">
                <!--Pergunta Ambiente de Trabalho-->
                <h6 style="width: 100%; text-align: center;"> Selecione seu ambiente de trabalho: </h6>
                <div class="radio-custom-option radio-group-ambiente">
                    <label>
                        <input value="1" name="Avaliacao" type="radio" (change)="mudarEstado($event)"
                            class="radio radio-inline radio-custom "
                            [(ngModel)]="RespostaPesquisaPontual.TipoAmbiente" />
                        <!-- <ion-icon id="respBom" name="custom-prolead-positive"></ion-icon> -->
                        <span style="margin: 0px">Em casa</span>
                    </label>
                </div>
                <div class="radio-custom-option radio-group-ambiente">
                    <label>
                        <input value="2" name="Avaliacao" type="radio" (change)="mudarEstado($event)"
                            class="radio radio-inline radio-custom"
                            [(ngModel)]="RespostaPesquisaPontual.TipoAmbiente" />
                        <!-- <ion-icon id="respMeh" name="custom-prolead-neutral"></ion-icon> -->
                        <span style="margin: 0px">Escritório</span>
                    </label>
                </div>
                <div class="radio-custom-option radio-group-ambiente">
                    <label>
                        <input value="3" type="radio" name="Avaliacao" (change)="mudarEstado($event)"
                            class="radio radio-inline radio-custom "
                            [(ngModel)]="RespostaPesquisaPontual.TipoAmbiente" />
                        <!-- <ion-icon id="respRuim" name="custom-prolead-negative"></ion-icon> -->
                        <span style="margin: 0px">Ambos</span>
                    </label>
                </div>
            </div>

            <!--Lista de perguntas do formulário Agrupado-->

            <div class="w-90 perguntas-agrupadas-form round-shadow" *ngFor="let agrupamento of PerguntasFormularioAgrupada; let numero = index">
                <h4>{{agrupamento.Categoria}}</h4>
                <div class="w-100 perguntas-form" *ngFor="let pergunta of agrupamento.Perguntas; let number = index">
                    <div class="w-100">
                        <div class="big-container area-pergunta row-wrap space-around">

                            <span style="font-size: 15px; width: 100%">{{number + 1}}:&nbsp;&nbsp;{{pergunta.Descricao}}</span>
                            <ionic3-star-rating [(ngModel)]="pergunta.ValorInteiro" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#f4f4f4" readonly="false" maxRating="6" fontSize="32px" (ratingChanged)="onRateChange($event)">
                            </ionic3-star-rating>
                        </div>
                    </div>
                </div>
            </div>
            <!--Lista de perguntas do formulário Não Agrupado-->

            <div class="w-90 perguntas-form" *ngFor="let pergunta of PerguntasFormulario; let number = index">
                <div class="w-100">
                    <div class="big-container area-pergunta row-wrap space-around">
                        <span style="font-size: 15px; width: 100%">{{number + 1}}:   {{pergunta.Descricao}}</span>
                        <ionic3-star-rating [(ngModel)]="pergunta.ValorInteiro" activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="#f4f4f4" readonly="false" maxRating="6" fontSize="32px" (ratingChanged)="onRateChange($event)">
                        </ionic3-star-rating>
                    </div>
                </div>
            </div>


            <!--Enviar Formulário-->
            <div class="big-container btn-group row-wrap space-around">
                <div class="flex-btn center-content">
                    <button type="submit" class="r-50 w-80 grey" (click)="Cancelar()" ion-button full>CANCELAR</button>
                </div>
                <div class="flex-btn center-content">
                    <button type="submit" class="r-50 w-80  orange-grad" (click)="Enviar()" ion-button full>ENVIAR</button>
                </div>
            </div>

        </div>
    </div>



</ion-content>