page-log-in {
    a {
        padding-top: 2px;
    }
    label {
        text-align: center;
        margin-right: 5px
    }
    img {
        margin-top: 20px;
    }
    div.checkbox-icon {
        border-radius: 5px !important;
        border: 2px solid #333333 !important;
        opacity: 1;
    }
    ion-checkbox {
        vertical-align: middle;
        margin-bottom: 4px;
    }
    ion-item {
        padding-left: 0px !important;
    }
    ion-input {
        border: 1px solid #ccc;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 50px;
        font-size: 20px;
        outline: 0;
        -webkit-appearance: none;
    }
    .keep-logged-font {
        color: #333333 !important;
        font-size: 12px !important;
        padding-top: 3px;
        margin: 0px;
    }
    .forget-password-font {
        text-align: left;
        font-size: 10px !important;
        letter-spacing: 0;
        color: #AEADAD !important;
        opacity: 1;
    }
    .shade-project {
        box-shadow: 0px 3px 10px rgb(226, 226, 226) !important;
    }
    ion-input:focus {
        border-color: #339933;
    }
    .checkbox-icon {
        border-color: white !important;
    }
    ion-col.olho {
        .label {
            margin-right: 0px !important;
            text-align: center;
        }
        .item-inner {
            padding-right: 0px !important;
        }
    }
    ion-item {
        border-bottom: 0px !important;
        box-shadow: none !important;
        background-color: transparent !important;
        .item-inner {
            box-shadow: none !important;
            padding-right: 0px !important;
        }
    }
    ion-content {
        // //background-image: url("/assets/imgs/tela_login_v2.jpg");
        // background-color: tomato !important;
        background-position: center center;
        background-size: cover;
        background-color: #FCFCFC !important;
        padding: 10px 15px 10px 15px !important;
    }
    ion-label {
        color: white !important;
    }
    form {
        padding: 10px 20px 10px 20px;
        //margin-top: 50%;
    }
    .text-input {
        color: #474B51;
    }
    // div {
    //    // border: 1px solid #ccc;
    // }
    /* enable absolute positioning */
    .inner-addon {
        //icone bugado, parece que o click() funciona com o display: inlineblock habilitado
        //para o icone de mostrar
        position: relative;
        display: inline-block;
        height: 40px;
        ion-input {
            z-index: 0 !important;
        }
        .passwordToggler {
            left: 260px !important;
            top: 0px !important;
            font-size: 30px;
        }
    }
    /* style icon */
    .inner-addon ion-icon {
        position: absolute;
        padding: 10px;
        //pointer-events: none;
        bottom: 0px !important;
        left: 10px !important;
        z-index: 1 !important;
        // font-size: 12px !important;
        color: #BFBFBF !important
    }
    /* align icon */
    .left-addon ion-icon.left {
        left: 0px;
        z-index: 1 !important;
    }
    .right-addon ion-icon.right {
        right: 0px;
        z-index: 1 !important;
    }
    /* add padding  */
    .left-addon ion-input {
        padding-left: 50px;
    }
    .right-addon ion-input {
        padding-right: 50px;
    }
    .powered {
        * {
            margin: 0px !important
        }
    }
}