<!--
  Generated template for the ListaDePesquisasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{titulo.toUpperCase()}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="center-content" *ngIf="PesquisasPontuais.length != 0">
        <div class="flexgrid-lista-pesquisas w-100">
            <div class="box autorFeedback" *ngFor="let pesquisa of PesquisasPontuais" (click)="AbrirPesquisa(pesquisa);" [ngClass]="{'nova-pesquisa': !pesquisa.Visualizado}">
                <div class="linha-pesquisa flex w-100">
                    <div class="w-20 icon-holder">
                        <ion-icon class="grey-icon" name="custom-prolead-pesquisa-pontual-icon"></ion-icon>
                    </div>
                    <div class="w-80 flex column texto-pesquisa">
                        <span class="titulo-pesquisa" style="margin-top: 10px"> {{pesquisa.Nome}}</span>
                        <span class="texto-complementar" style="margin-top: 10px"> Prazo final: {{pesquisa.DataTermino}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="PesquisasPontuais.length == 0">
        <span *ngIf="tipo == 1" style="color: grey; font-size: 22px"> Quando houver pesquisas para você, elas serão listadas aqui.</span>
        <span *ngIf="tipo == 2" style="color: grey; font-size: 22px"> Exibiremos seu histórico após a sua primeira participação em uma pesquisa.</span>

    </div>
</ion-content>