page-pre-work {
    
    div.toolbar-background {
        background-color: color($colors, competencias2);
    }
    div.toolbar-title {
        color: white;
    }
    .item-md.item-block .item-inner {
        border-bottom: none;
    }
    textarea{
        font-size: 1.6rem;
    }
    
    ion-label{
        font-size: 17px;
        white-space: pre-wrap;
    }
}
